body {
  background: #b8b6b6;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #64bdf7;
  margin: 0px 0px 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #64bdf7;
  padding: 16px 8px;
}

.button-container {
  background: #64bdf7;
  margin: 8px 0px 0px;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0px auto;
  padding: 8px 24px;
}